$color_white: #ffffff;
$color_red: #df7366;
$color_brown:#483949;
$color_grey:#5b5b5b;
$color_border:#c0c0c059;
$color_body:#f0f4f4;
$color_footer:#2b252c;

$font: 'Source Sans Pro', sans-serif;
$font-size-base:  1.15rem;
$font-size-medium:  1.25rem;
$font-size-big:  1.5rem;
$font-size-h1: 4rem;
$font-size-h2: 2.85rem;
$font-size-h3: 1.75rem;
$font-size-h4: 1.5rem;
$font-size-h5: 1.25rem;
$font-size-h6: 1rem;  
$font-weight: 400;
$line-height-base: 1.75em;
$line-height-heading: 1.25em;






