.button {
   position: relative;
   display: inline-block;
   background: $color_red;
   color: $color_white;
   text-align: center;
   border-radius: 0.5em;
   text-decoration: none;
   padding: 0.65em 3em 0.65em 3em;
   border: 0;
   cursor: pointer;
   outline: 0;
   font-weight: 300;
   margin: 2.5em 0 0 0;
   transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
   -webkit-transition:background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
   -moz-transition:background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
   -ms-transition:background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
   -o-transition:background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
   
    &:hover{
        opacity: 0.8;
    }
}

.button_circled {
    display: inline-block;
    border-radius: 100%;
    width: 4.5em;
    height: 4.5em;
    line-height: 4.5em;
    text-align: center;
    font-size: $font-size-medium;
    padding: 0;
    background: $color_red;
}