.carousel {
    position: relative;
    overflow: hidden;
    padding: 2em 0 2em 0;
    margin-bottom: 0;

    .reel {
        white-space: nowrap;
        position: relative;
        display: flex;
        gap: 2em;
    }

    .slide {
        display: inline-block;
        width: 18em;
        background: $color_white;
        text-align: center;
        white-space: normal;
        opacity: 1.0;
        flex: 0 0 auto;
        transition: opacity 0.75s ease-in-out;  
        -webkit-transition:opacity 0.75s ease-in-out;
        -moz-transition:opacity 0.75s ease-in-out;
        -ms-transition:opacity 0.75s ease-in-out;
        -o-transition:opacity 0.75s ease-in-out;
}

    img {
        display: block;
        width: 100%;
        margin-bottom: 1.5em;
    }

    .image {
        position: relative;
        top: 0;
    }

    h3 {
        font-size: $font-size-medium;
        margin: 0 0 1em 0;
        padding: 0 1em 0 1em;
    }

    p {
        text-align: center;
        padding: 0 1em 2em 1em;
    }

    .forward:before, .backward:before {
        content: '';
        display: block;
        width: 6em;
        height: 6em;
        border-radius: 100%;
        background-color: rgba(72, 57, 73, 0.5);
        position: absolute;
        top: 50%;
        margin-top: -3em;
        transition: background-color 0.35s ease-in-out;
    }

    .forward:before {
        right: -3em;
    }

    .forward:after {
        right: -0.25em;
    }

    .forward:after, .backward:after {
        content: '';
        width: 3em;
        height: 3em;
        position: absolute;
        top: 50%;
        margin: -1.5em 0 0 0;
        background: url(../images/arrow.svg) no-repeat center center;
    }

    .backward:after {
        left: -0.25em;;
        transform: scaleX(-1);
    }

    .backward:before {
        left: -3em;
    }
}